# Ignore everything by default.
/*
/.*

# explicit list
!/.bash_profile
!/.bashrc
!/.git
!/.git-prompt.sh
!/.gitignore
!/.tmux.conf
!/.vimrc
!/.ideavimrc
!/.zprofile
!/.zshrc
!/._git
!/dotfileslink.sh
!/generate.vim
!/git-completion.bash
!/init.vim
!/vscode
!/Brewfile
