# Ignore everything by default.
/*
/.*

# explicit list for global
!/.bash_profile
!/.bashrc
!/.git
!/.git-prompt.sh
!/.gitignore
!/.tmux.conf
!/.vimrc
!/.ideavimrc
!/.zprofile
!/.zshrc
!/._git
!/dotfileslink.sh
!/generate.vim
!/git-completion.bash
!/init.vim
!/vscode
!/Brewfile

# explicit list for osx
!/macOS
!/macOS/.direnvrc
!/macOS/.ideavimrc
!/macOS/.tmux.conf
!/macOS/.vimrc
!/macOS/.zshrc
!/macOS/defaults.sh
!/macOS/dotfileslink

# explicit list for ubuntu
!/ubuntu
!/ubuntu/.alacritty.yml
!/ubuntu/.zshrc
!/ubuntu/dotfileslink.sh
!/ubuntu/init.vim
!/ubuntu/.tmux.conf